# Ignore all CSV data files
*.csv

# Ignore all PNG image files
*.png

# Ignore IPython and Jupyter artifacts
.ipython/
.ipynb_checkpoints/

# Ignore trash folders
.trash/
.Trash/












.Trash-12574/info/SYNTH_PCA_DATA 1.csv.trashinfo
.Trash-12574/info/SYNTH_PCA_DATA 2.csv.trashinfo
.Trash-12574/info/SYNTH_PCA_DATA.csv.trashinfo
.Trash-12574/info/SYNTH_RAW_DATA 1.csv.trashinfo
.Trash-12574/info/SYNTH_RAW_DATA.csv.trashinfo
__pycache__/workflow.cpython-310.pyc
